@charset "utf-8";

/*--------------------------------------------------------------------------------------------------
CSS Styles for <PROJECT NAME>.

version:   1.0
--------------------------------------------------------------------------------------------------*/

/* =CSS Reset
--------------------------------------------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
a {color: inherit;text-decoration: none;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html,body {width: 100%;}
*:active, *:focus {outline: none;}
/* End CSS Reset
--------------------------------------------------------------------------------------------------*/

/* =Toolkit
--------------------------------------------------------------------------------------------------*/

/* Micro Clearfix Hack by Nicholas Gallagher (http://nicolasgallagher.com/micro-clearfix-hack/) */
/* For modern browsers */ 
.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
/* For IE 6/7 (trigger hasLayout) */
.cf { zoom:1; }

/* general purpose classes */
.alignleft {float: left;}
.alignright {float: right;}
.bb1 {border-bottom: 1px solid #cfcfcf;margin-bottom: 7px;}
.strong {font-weight: 700;}
/* End Toolkit
--------------------------------------------------------------------------------------------------*/

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/* =Typography
--------------------------------------------------------------------------------------------------*/

/* Setting up the fonts */
body { font-family: 'Exo 2', sans-serif; position: relative;background: #fff;color: #000;font-size: 14px;}
h1 {font-size: 56px;color: #000;font-weight: 700;text-transform: uppercase;letter-spacing: -3px;}

/* End Typography
--------------------------------------------------------------------------------------------------*/

/* =Wrappers
--------------------------------------------------------------------------------------------------*/

/* End Wrappers
--------------------------------------------------------------------------------------------------*/

/* =Header
--------------------------------------------------------------------------------------------------*/

/* End Header
--------------------------------------------------------------------------------------------------*/

/* =User Navigation
--------------------------------------------------------------------------------------------------*/

/* End User Navigation
--------------------------------------------------------------------------------------------------*/

/* =Footer
--------------------------------------------------------------------------------------------------*/

/* End Footer
--------------------------------------------------------------------------------------------------*/